:root{
    --bgclr-primary: rgb(58, 58, 218);
}

.dark{
    background-color: black;
    color: white;
}
.light{
    background-color: white;
    color: black;
}
/*overall page*/
.paper{
    font-size: 25px;
    width: 50%;
    line-height: 40px;
    margin: 0 auto;
}
.title{
    text-align: center;
    color: #43F9D2; 
    text-shadow: 2px 2px 2px gray;
    font-family: 'Lobster', cursive; 
    font-size: 60px; 
    font-weight: bolder;
}
.flexbox{ /*a box for the raw code and console example*/
    display: flex;
    color: black;
    border: white 8px solid;
    width: 90%;
    height: 20%;
    padding: 0 0 0 10px;
    margin: 0 auto;
}
p{
    padding: 0 0 0 1rem;
    font-size: 1.5rem;
}
.rawCode p {
    display: inline;
    padding: 0;
    font-size: 1.5rem;
}
.rawCode{ /*a box for the raw codeexample */
    background-color: rgb(228, 227, 227);
    margin: 0 0.7rem 0 0;
    width: 50%;
    padding: 0 0 0 0.8rem;
}
.console{ /*a box for the console display*/
    padding: 0 0 0 0.6rem;
    width: 50%;
    background-color: rgb(228, 227, 227);
}
.rawCode span, ul span, p span{ /*make html element green*/
    color: rgb(0, 173, 0);
}
dd, .property{ /*make css property red*/
    color: red;
}
.rawCode .value, .value{ /*make css value blue in raw code box*/
    color: blue;
}
h2{
    font-family: 'Roboto Mono', monospace;
    font-size: 3rem;
}
.exception{ /*make h1 dark red as css example*/
    color: darkred; 
    text-align: center;
}
.console p{ /*make p bigger as css example*/
    font-size: 25px;
    padding: 0;
}
ul{
    padding: 0 0 0 5rem;
}
h3{
    font-size: 2rem;
    font-family:'Mooli', sans-serif;
    color: orange;
}
h4{
    background-color: #f4d694;
    height: 9%;
    display: flex;
    align-items: center;
    padding: 0 0 0 10px;
    color:red;
}
input{
    width: 20px;
    font-size: 17px;
}
.quiz{
    height: 9%;
    background-color: rgb(226, 222, 222);
    color: black;
}
.quiz button{
    border-radius: 20px;
    box-shadow: 4px 4px 2px gray;
    font-size: 15px;
    width: 18%;
    height: 40px;
    background-color: #f4d694;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.quiz button:hover{
    background-color: #f7bc3dcb;
}
.quiz p {
    font-size: 25px;
}
legend{
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    padding: 15px 0 0 0;
}
fieldset #property {
    width: 140px;
}
#theme button {
    width: 70%;
    height: 4rem;
    box-shadow: 4px 4px 2px gray;
    border-radius: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    background-color: rgb(58, 58, 218);
    color: white;
    margin: 0 5% 0;
}
img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
 #theme{
    display: flex;
    margin: -1rem;
    align-items: center;
    float: right;
    width: 20%;
    height: 20%;
}

/* multiple website*/
.navProp{
    float: left;
}
li a{
    display: block;
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navBar{
    background-color: var(--bgclr-primary);
    position: fixed;
    top: 0;
    list-style-type: none;
    overflow: hidden;
    margin: 0 -0.5rem;
    padding: 0;
}
li a:hover:not(.active){
    background-color: rgb(229, 58, 52);
}
.active{
    background-color: rgb(0, 183, 255);
}